<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录|助眠知识图谱平台</title>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/jquery-3.6.0.min.js"></script>
    <script src="static/js/auth/auth_func.js"></script>
    <script src="static/js/auth/login_page.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-primary navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand mx-2" href="/">助眠知识图谱平台</a>
    </nav>

    <div class="container mt-3 p-5 bg-light h-auto rounded border shadow shadow-sm">
        <h2>登录</h2>
        <form>
            <div class="row">
                <div class="col-lg-6">
                    <label for="phone" class="form-label">手机号码</label>
                    <input type="tel" class="form-control" id="phone" autocomplete="tel">
                </div>
                <div class="col-lg-6">
                    <label for="password" class="form-label">密码</label>
                    <input type="password" class="form-control" id="password" autocomplete="current-password">
                </div>
            </div>
            <button id="login_button" type="button" class="btn btn-success mt-3 px-3">登录</button>
            <a class="btn btn-primary mt-3 px-3" href="register">注册</a>
        </form>
        <div id="live_alert_placeholder"></div>
    </div>
</body>
</html>