<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>助眠知识图谱平台</title>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/jquery-3.6.0.min.js"></script>
    <script src="static/js/index_page.js"></script>
    <script src="static/js/echarts.min.js"></script>
    <style>
        html,
        body {
            height: 100%;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-primary navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand mx-2" href="/">助眠知识图谱平台</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" style="margin-right:10px;" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse justify-content-start" id="collapsibleNavbar">
            <ul class="navbar-nav px-2 ">
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">帮助</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">关于</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/scale/zhenghou">体质评测</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/herb_recommend">药方推荐</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/recommend">助眠建议</a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul id="navbar_end" class="navbar-nav ps-2 me-5">
                <!-- 填充菜单组件 -->
                {%if not current_user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="login">登录</a></li>
                {%else%}
                <li class="nav-item dropdown"><a id="drop_title" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">您好，{{current_user.name}}</a>
                    <ul class="dropdown-menu" aria-labelledby="drop_title">
                        <li><a class="dropdown-item" href="/info">个人信息</a></li>
                        {%if current_user.role == 'admin' %}
                        <li><a class="dropdown-item" href="/user">用户管理</a></li>
                        <li><a class="dropdown-item" href="#">评测记录管理</a></li>
                        {%else%}
                        <li><a class="dropdown-item" href="#">评测记录</a></li>
                        {%endif%}
                        <li><a class="dropdown-item bg-danger text-light" href="/logout">登出</a></li>
                    </ul>
                </li>
                {%endif%}
            </ul>
        </div>
    </nav>

    <!-- 
    m- 对于设置的类margin
    p- 对于设置的类padding
    t- 对于设置margin-top或padding-top
    b- 对于设置margin-bottom或padding-bottom
    s- （开始）用于设置margin-left或padding-leftLTRmargin-right或padding-rightRTL中的类
    e-（结束）对于设置margin-right或padding-right在 LTRmargin-left或padding-leftRTL中的类
    x- 对于同时设置*-left和*-right
    y- 对于同时设置*-top和*-bottom
    空白 - 对于在元素的所有 4 个边上设置 amargin或的类padding 
    -->
    <div class="container-md mt-2 border bg-light rounded shadow-sm" style="height:90%">
        <div class="col-md-6 col-10 input-group my-2">
            <button type="button" id="type_text" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                类型
            </button>
            <ul id="type_list" class="dropdown-menu">
                <li><a class="dropdown-item type_option">类型1</a></li>
                <li><a class="dropdown-item type_option">类型2</a></li>
            </ul>
            <button type="button" id="prop_text" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                属性
            </button>
            <ul id="prop_list" class="dropdown-menu">
                <li><a class="dropdown-item prop_option">属性1</a></li>
                <li><a class="dropdown-item prop_option">属性2</a></li>
            </ul>
            <input id="search_text" type="text" class="form-control" placeholder="关键字">
            <button id="search_button" class="btn btn-primary" type="submit">
                搜索
            </button>
        </div>
        <p id="search_result" class="text-center text-info m-1">
            Hello
            <span id="search_loadding" class="spinner-border text-info invisible"></span>
        </p>
        <div id="chart" class="w-100" style="height: 85%"></div>
    </div>

    <!-- 节点详情模态框 -->
    <div id="node_detail_modal" class="modal fade">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 id="node_detail_title" class="modal-title">模态框标题</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- 模态框内容 -->
                <div id="node_detail_content" class="modal-body">
                    模态框内容..
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>